@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media (min-width: 992px) {
  :root {
    scroll-padding-top: 100px;
  }
}

nav.navigation {
  position: relative;
  background-color: white;
  color: #217abe;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 1rem hsl(0, 0%, 80%);
  height: 60px;
  z-index: 10;
}
@media (min-width: 992px) {
  nav.navigation {
    height: 100px;
  }
}
nav.navigation .nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.navigation .nav-bar .logo-container {
  height: 100%;
}
nav.navigation .nav-bar .logo-container img {
  display: block;
  height: 100%;
}
nav.navigation .nav-bar ul {
  position: absolute;
  width: min(300px, 100%);
  top: 0;
  left: 0;
  height: 100vh;
  transition: left 0.5s ease-out;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul {
    position: static;
    background-color: transparent;
    height: 100%;
    color: #217abe;
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
}
nav.navigation .nav-bar ul .cross-button-container {
  text-align: right;
}
nav.navigation .nav-bar ul .cross-button-container .fa-xmark {
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul .cross-button-container {
    display: none;
  }
}
nav.navigation .nav-bar ul li {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
nav.navigation .nav-bar ul li::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 0;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul li::after {
    background-color: #217abe;
  }
}
nav.navigation .nav-bar ul li:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out;
}
nav.navigation .nav-bar ul li a {
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}
nav.navigation .nav-bar .bars-container {
  font-size: 1.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar .bars-container {
    display: none;
  }
}

.home-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  background-image: linear-gradient(to right, hsla(255, 76%, 74%, 0.5), hsla(134, 76%, 68%, 0.5));
}
@media (min-width: 992px) {
  .home-section {
    flex-direction: row;
    background-image: linear-gradient(to bottom, hsla(255, 76%, 74%, 0.5), hsla(134, 76%, 68%, 0.5));
  }
}
.home-section aside.text-container {
  min-height: calc((100vh - 60px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .home-section aside.text-container {
    flex-grow: 1;
    flex-basis: 0;
    height: calc(100vh - 100px);
  }
}
.home-section aside.text-container p {
  padding: 0 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-section aside.text-container p span:first-child {
  color: #eb6930;
  font-weight: bold;
  font-size: 2rem;
}
.home-section aside.image-container {
  min-height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  height: fit-content;
}
@media (min-width: 992px) {
  .home-section aside.image-container {
    flex-grow: 1;
    flex-basis: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
.home-section aside.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  transition: left 1s ease-out;
}

div.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

.expansion-of-home-section {
  padding: 2rem 0;
}
.expansion-of-home-section > p {
  text-align: center;
  margin-bottom: 1rem;
}
.expansion-of-home-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 576px) {
  .expansion-of-home-section ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.expansion-of-home-section ul li {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  cursor: pointer;
  position: relative;
}
@media (min-width: 576px) {
  .expansion-of-home-section ul li {
    width: 49%;
  }
}
@media (min-width: 768px) {
  .expansion-of-home-section ul li {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .expansion-of-home-section ul li {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.expansion-of-home-section ul li p span {
  color: #eb6930;
}
.expansion-of-home-section ul li .text-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: height 0.5s linear;
}
.expansion-of-home-section ul li:hover .text-cover {
  height: 0;
}

.our-mission-section .title {
  padding: 1rem 0;
  color: #eb6930;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 992px) {
  .our-mission-section .title {
    font-size: 3rem;
  }
}
.our-mission-section .image-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .our-mission-section .image-text-container {
    flex-direction: row;
  }
}
.our-mission-section .image-text-container * {
  flex-grow: 1;
  flex-basis: 0;
}
.our-mission-section .image-text-container .image-container img {
  width: 100%;
  height: 400px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}
.our-mission-section .image-text-container .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-mission-section .image-text-container .text-container p {
  text-align: justify;
  text-align-last: center;
  padding: 0 1rem;
}

.projects-section .title {
  padding: 1rem 0;
  color: #eb6930;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 992px) {
  .projects-section .title {
    font-size: 3rem;
  }
}
.projects-section .ul-image-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .projects-section .ul-image-container {
    flex-direction: row;
  }
}
.projects-section .ul-image-container ul {
  margin-left: 1rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .projects-section .ul-image-container ul {
    flex-basis: 0;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .projects-section .ul-image-container .image-container {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.projects-section .ul-image-container .image-container img {
  width: 100%;
  height: 400px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}
.projects-section .text-container p:first-child {
  color: #eb6930;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0;
}

.contact-section .title {
  padding: 0.5rem 0;
  color: #eb6930;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.contact-section .contact-text .para-container {
  font-size: 1.25rem;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.leadership-section .title {
  padding: 1rem 0;
  color: #eb6930;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.leadership-section .flip-card-image-texts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .leadership-section .flip-card-image-texts-container {
    flex-direction: row;
  }
}
.leadership-section .flip-card-image-texts-container .flip-card {
  perspective: 1000px;
  min-height: 400px;
  width: min(400px, 100%);
  margin: 0 auto;
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-front,
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-front img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: top center;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back {
  padding: 1rem;
  background-color: #416c63;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadership-section .flip-card-image-texts-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.leadership-section .flip-card-image-texts-container .leadership-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}
.leadership-section .flip-card-image-texts-container .leadership-text li {
  margin-left: 1rem;
}