@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media (min-width: 992px) {
  :root {
    scroll-padding-top: 100px;
  }
}

div.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

nav.navigation {
  background-color: #fff;
  color: #217abe;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 1rem hsl(0, 0%, 80%);
  height: 60px;
  z-index: 9999;
}
@media (min-width: 992px) {
  nav.navigation {
    height: 100px;
  }
}
nav.navigation .nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.navigation .nav-bar .logo-container {
  height: 100%;
}
nav.navigation .nav-bar .logo-container img {
  display: block;
  height: 100%;
}
nav.navigation .nav-bar ul {
  list-style-type: none;
  position: absolute;
  width: min(300px, 100%);
  top: 0;
  left: 0;
  height: 100vh;
  transition: left 0.5s ease-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(33, 122, 190, 0.9);
  color: #f2f2f2;
  padding: 1rem;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul {
    position: static;
    background-color: transparent;
    height: 100%;
    color: #217abe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 0;
  }
}
nav.navigation .nav-bar ul .cross-button-container {
  text-align: right;
}
nav.navigation .nav-bar ul .cross-button-container .fa-xmark {
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul .cross-button-container {
    display: none;
  }
}
nav.navigation .nav-bar ul li {
  text-align: center;
  position: relative;
  width: fit-content;
}
nav.navigation .nav-bar ul li::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #f2f2f2;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.25s ease-in-out;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar ul li::after {
    background-color: #217abe;
  }
}
nav.navigation .nav-bar ul li:hover::after {
  width: 100%;
}
nav.navigation .nav-bar ul li a {
  display: block;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  color: inherit;
}
nav.navigation .nav-bar .bars-container {
  font-size: 1.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.navigation .nav-bar .bars-container {
    display: none;
  }
}

.home-section {
  height: calc(100vh - 60px);
  display: flex;
  gap: 1rem;
  position: relative;
}
@media (min-width: 992px) {
  .home-section {
    flex-direction: row;
    height: calc(100vh - 100px);
  }
}
.home-section .container {
  z-index: 10;
}
.home-section .container .text-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #f2f2f2;
  z-index: 10;
}
@media (min-width: 992px) {
  .home-section .container .text-container {
    flex-grow: 1;
    flex-basis: 0;
    height: calc(100vh - 100px);
    width: 60%;
  }
}
.home-section .container .text-container p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-section .container .text-container p span:first-child {
  color: #eb6930;
  font-weight: bold;
  font-size: 2.5rem;
}
@media (min-width: 576px) {
  .home-section .container .text-container p span:first-child {
    font-size: 4rem;
  }
}
.home-section .container .text-container p span:last-child {
  line-height: 1.5rem;
  font-size: 1rem;
}
@media (min-width: 576px) {
  .home-section .container .text-container p span:last-child {
    font-size: 1.25rem;
  }
}
.home-section .container .text-container .button-container {
  display: flex;
  gap: 1rem;
}
.home-section .container .text-container .button-container .button {
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #eb6930;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.25s linear;
  display: flex;
  align-items: center;
  text-align: center;
}
.home-section .container .text-container .button-container .button:hover {
  background-color: #e95819;
}
.home-section .image-container {
  min-height: calc(100vh - 100px);
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .home-section .image-container {
    flex-grow: 1;
    flex-basis: 0;
  }
}
.home-section .image-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.25));
}
.home-section .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
}

.expansion-of-home-section {
  position: relative;
  margin-top: -35px;
  margin-bottom: 1rem;
  z-index: 20;
}
.expansion-of-home-section .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expansion-of-home-section .intro-para {
  text-align: center;
  background-color: #eb6930;
  border-radius: 0.5rem;
  text-align: justify;
  color: #f2f2f2;
  padding: 1rem;
  line-height: 1.5rem;
}
.expansion-of-home-section .intro-para .accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
}
.expansion-of-home-section .intro-para .accordion-button span {
  display: block;
  font-weight: bold;
}
.expansion-of-home-section .intro-para .accordion-button .angle-down {
  transition: transform 0.25s linear;
  transform-origin: center center;
}
.expansion-of-home-section .intro-para .accordion-button .angle-down.rotate {
  transform: rotate(90deg);
}
.expansion-of-home-section .intro-para .accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.25s linear;
}
.expansion-of-home-section .intro-para .accordion-content p {
  min-height: 0;
}
.expansion-of-home-section .intro-para .accordion-content.row-1 {
  grid-template-rows: 1fr;
}
.expansion-of-home-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 576px) {
  .expansion-of-home-section ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.expansion-of-home-section ul li {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  position: relative;
  line-height: 1.5rem;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .expansion-of-home-section ul li {
    width: 49%;
  }
}
@media (min-width: 992px) {
  .expansion-of-home-section ul li {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .expansion-of-home-section ul li {
    width: 32%;
  }
}
.expansion-of-home-section ul li p {
  color: #454545;
}
.expansion-of-home-section ul li p span {
  color: #eb6930;
}

.our-mission-section {
  margin-bottom: 1rem;
  background-image: linear-gradient(to top, #faddd1, #d4e8f7);
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .our-mission-section {
    background-image: linear-gradient(to right, #d4e8f7, #faddd1);
  }
}
.our-mission-section .image-text-container {
  background-color: #eb6930;
  color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 5px rgba(170, 170, 170, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.our-mission-section .image-text-container > * {
  flex-grow: 1;
}
@media (min-width: 992px) {
  .our-mission-section .image-text-container {
    flex-direction: row;
  }
}
.our-mission-section .image-text-container .image-container {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .our-mission-section .image-text-container .image-container {
    width: 70%;
  }
}
.our-mission-section .image-text-container .image-container img {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.our-mission-section .image-text-container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align-last: center;
  padding: 1rem;
  width: 100%;
  line-height: 1.5rem;
}
@media (min-width: 992px) {
  .our-mission-section .image-text-container .text-container {
    width: 30%;
  }
}
.our-mission-section .image-text-container .text-container .title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.projects-section .ul-image-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: -10px 10px 5px rgba(170, 170, 170, 0.5);
  border-radius: 0.5rem;
  background-color: #eb6930;
  color: #f2f2f2;
}
@media (min-width: 992px) {
  .projects-section .ul-image-container {
    flex-direction: row;
  }
  .projects-section .ul-image-container > * {
    flex-grow: 1;
  }
}
.projects-section .ul-image-container ul {
  padding: 1rem;
  width: 100%;
  list-style-type: none;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 992px) {
  .projects-section .ul-image-container ul {
    width: 30%;
  }
}
.projects-section .ul-image-container ul .title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.projects-section .ul-image-container .image-container {
  width: 100%;
  border-radius: 0.5rem;
}
@media (min-width: 992px) {
  .projects-section .ul-image-container .image-container {
    width: 70%;
  }
}
.projects-section .ul-image-container .image-container img {
  display: block;
  width: 100%;
  max-height: 500px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}
.projects-section .text-container p:not(p:first-child) {
  line-height: 1.5rem;
}
.projects-section .text-container p:first-child {
  color: #eb6930;
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
}

.contact-section {
  background-image: linear-gradient(to bottom, #faddd1, #d4e8f7);
  height: calc(75vh - 100px);
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .contact-section {
    background-image: linear-gradient(to right, #faddd1, #d4e8f7);
  }
}
.contact-section .contact-address {
  background-color: #217abe;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: #f2f2f2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.contact-section .title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.contact-section .contact-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-section .contact-text-container .contact-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contact-section .contact-text-container .contact-text p:first-child {
  background-color: #175482;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-text-container .contact-text p:nth-child(2) span {
  display: block;
}
.contact-section .contact-text-container .social-media-icons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.contact-section .contact-text-container .social-media-icons-container p a {
  text-decoration: none;
  color: inherit;
}

.leadership-section {
  margin: 1rem 0;
}
.leadership-section .flip-card-image-texts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .leadership-section .flip-card-image-texts-container {
    flex-direction: row;
  }
}
.leadership-section .flip-card-image-texts-container .flip-card {
  perspective: 1000px;
  min-height: 450px;
  width: min(400px, 100%);
  margin: 0 auto;
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-front,
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-front img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: top center;
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back {
  padding: 1rem;
  background-color: #416c63;
  color: #f2f2f2;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}
@media (min-width: 576px) {
  .leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back {
    padding: 4rem;
  }
}
.leadership-section .flip-card-image-texts-container .flip-card .flip-card-inner .flip-card-back .title {
  padding: 1rem 0;
  color: #f2f2f2;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.leadership-section .flip-card-image-texts-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.leadership-section .flip-card-image-texts-container .leadership-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  line-height: 1.5rem;
}
.leadership-section .flip-card-image-texts-container .leadership-text li {
  margin-left: 1rem;
}