$orange: #eb6930;
$blue: #217abe;
$orange-lighter: #faddd1;
$blue-lighter: #d4e8f7;
$blue-darker: #175482;

.contact-section {
  background-image: linear-gradient(to bottom, $orange-lighter, $blue-lighter);
  height: calc(75vh - 100px);
  display: flex;
  align-items: center;

  @include responsive.lg {
    background-image: linear-gradient(to right, $orange-lighter, $blue-lighter);
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .contact-address {
    background-color: $blue;
    height: 80%;
    width: 300px;
    margin: 0 auto;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .title {
    // color: $orange;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .contact-text-container {
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .contact-text {
      display: flex;
      gap: 1rem;
      // border: 2px solid red;
      align-items: center;

      p {
        &:first-child {
          background-color: $blue-darker;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(2) {
          span {
            display: block;
          }
        }
      }
    }

    .social-media-icons-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.5rem;
      margin-top: 1rem;

      p {
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
