@use "responsive";

$breakpoints: responsive.$breakpoints;

div.container {
  width: min(map-get($breakpoints, "xl"), 90%);
  margin: 0 auto;
}

@import "home_section_expansion";
@import "our_mission";
@import "projects_section";
@import "contacts_section";
@import "leadership_section";
