@use "responsive";

$orange: #eb6930;
$white: #f2f2f2;
$black: #454545;

.expansion-of-home-section {
  position: relative;
  margin-top: -35px;
  margin-bottom: 1rem;
  z-index: 20;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .intro-para {
    text-align: center;
    background-color: $orange;
    border-radius: 0.5rem;
    text-align: justify;
    color: $white;
    padding: 1rem;
    line-height: 1.5rem;

    .accordion-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem 0;

      span {
        display: block;
        font-weight: bold;
      }

      .angle-down {
        transition: transform 0.25s linear;
        transform-origin: center center;
      }
      .angle-down.rotate {
        transform: rotate(90deg);
      }
    }

    .accordion-content {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.25s linear;

      p {
        min-height: 0;
      }
    }

    .accordion-content.row-1 {
      grid-template-rows: 1fr;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    @include responsive.sm {
      flex-direction: row;
      flex-wrap: wrap;
    }

    li {
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px solid hsl(0, 0%, 80%);
      position: relative;
      line-height: 1.5rem;
      flex-grow: 1;

      @include responsive.md {
        width: 49%;
      }

      @include responsive.lg {
        width: 32%;
      }

      @include responsive.xl {
        width: 32%;
      }

      p {
        color: $black;

        span {
          color: $orange;
        }
      }
    }
  }
}
