@use "responsive";

$orange: #eb6930;
$blue: #217abe;
$white: #f2f2f2;
$black: #454545;

nav.navigation {
  background-color: #fff;
  color: $blue;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 1rem hsl(0, 0%, 80%);
  height: 60px;
  z-index: 9999;

  @include responsive.lg {
    height: 100px;
  }

  .nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      height: 100%;

      img {
        display: block;
        height: 100%;
      }
    }

    ul {
      list-style-type: none;
      position: absolute;
      width: min(300px, 100%);
      top: 0;
      left: 0;
      height: 100vh;
      transition: left 0.5s ease-out;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: rgba($blue, 0.9);
      color: $white;
      padding: 1rem;

      @include responsive.lg {
        position: static;
        background-color: transparent;
        height: 100%;
        color: $blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding-left: 0;
      }

      .cross-button-container {
        text-align: right;

        .fa-xmark {
          padding: 0.5rem;
          font-size: 1.5rem;
          cursor: pointer;
        }

        @include responsive.lg {
          display: none;
        }
      }

      li {
        text-align: center;
        position: relative;
        width: fit-content;

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background-color: $white;
          bottom: 0;
          left: 0;
          width: 0;
          transition: width 0.25s ease-in-out;

          @include responsive.lg {
            background-color: $blue;
          }
        }

        &:hover::after {
          width: 100%;
        }

        a {
          display: block;
          cursor: pointer;
          text-align: left;
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .bars-container {
      font-size: 1.25rem;
      padding: 0.5rem;
      cursor: pointer;

      @include responsive.lg {
        display: none;
      }
    }
  }
}
