@use "responsive";

.our-mission-section {
  margin-bottom: 1rem;
  background-image: linear-gradient(to top, $orange-lighter, $blue-lighter);
  padding: 1rem 0;

  @include responsive.lg {
    background-image: linear-gradient(to right, $blue-lighter, $orange-lighter);
  }

  .image-text-container {
    background-color: $orange;
    color: $white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px rgba(#aaaaaa, 0.5);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > * {
      flex-grow: 1;
    }

    @include responsive.lg {
      flex-direction: row;
    }

    .image-container {
      width: 100%;
      display: flex;
      align-items: center;

      @include responsive.lg {
        width: 70%;
      }

      img {
        display: block;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      text-align-last: center;
      padding: 1rem;
      width: 100%;
      line-height: 1.5rem;

      @include responsive.lg {
        width: 30%;
      }

      .title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
}
