@use "responsive";

.projects-section {
  .ul-image-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: -10px 10px 5px rgba(#aaaaaa, 0.5);
    border-radius: 0.5rem;
    background-color: $orange;
    color: $white;

    @include responsive.lg {
      flex-direction: row;

      & > * {
        flex-grow: 1;
      }
    }

    ul {
      padding: 1rem;
      width: 100%;
      list-style-type: none;
      text-align: justify;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      line-height: 1.5rem;

      @include responsive.lg {
        width: 30%;
      }

      .title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .image-container {
      width: 100%;
      border-radius: 0.5rem;

      @include responsive.lg {
        width: 70%;
      }

      img {
        display: block;
        width: 100%;
        max-height: 500px;
        border-radius: 0.5rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .text-container {
    p {
      &:not(p:first-child) {
        line-height: 1.5rem;
      }

      &:first-child {
        color: $orange;
        font-size: 2rem;
        text-align: center;
        margin-top: 1.5rem;
        padding: 0.5rem 0;
      }
    }
  }
}
